
.footer-about {
	text-align: center;
}
 .footer-links{
 	text-align: center;
 }
 .footer-sug{
 	text-align: center;
 }
#footer-row{
	margin-top: 25px;
}
#footer-row a{
    color: white;
    font-family: arial;
    font-size: 15px;
    transition: all .3s linear;
}

#div_footer_1 {
	padding-bottom: 10px;
	padding-top: 20px;
	background-color: rgb(230,240,240);
}

#div_footer_2 {
	padding-bottom: 20px;
	padding-top: 10px;
	background-color: rgb(230, 240, 240);
}
