body{
	font-family: "微软雅黑";
}
.container-papers{
	
}

.paper-item {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}


.paper-item-title {
	font-size: larger;
}

.paper-item-title:hover {
	color: #222222;
}

.paper-item-ath a{
	color: #222222; 
}

.paper-item-ath a:hover {
	color: rgb(51,122,183);
}

.icon-div-sm {
	width: 14px;
	height: 14px;
}

.icon-div {
	width: 20px;
	height: 20px;
}
h1,h2,h3,h4{color: #5E5E5E; font-weight: lighter; display: inline-block;}

.red {
	color: red;
}
