<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link href="css/mricode.pagination.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/header.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" href="css/author.css" />
		<title></title>
	</head>
	<body>



		
		<header class="site-header">
			<nav class="navbar" id="top">
						
						<!--这是导航图标-->
						<div class="col-md-3 col-sm-12 header-nav-icon">
							<div class="navbar-header">
								DAO HANG 
							</div>
						</div>
						
						<!-- 这是中间搜索部分-->
						<form class="form-inline col-md-6 col-sm-12 header-search" action="#" th:action="@{/search}" th:object="${para}" method="get">
							<div id="input_single" class="form-group col-md-10 col-sm-12" style="display: inline">
								<label class="sr-only" for="keywords">keywords</label>
								<input class="form-control" id="search_input" type="text" style="width: 92%;" value="graph database" placeholder="graph database"  th:field="*{keywords}">
							</div>
						
							<div id="input_multi" class="form-group col-md-10 col-sm-12" style="display: none;">
								<div class="form-group">
									<label class="sr-only" for="title">title</label>
									<input  class="form-control " id="title" placeholder="keywords" name="" >
								</div>
								<div class="form-group">
									<label class="sr-only" for="authorname">authorname</label>
									<input type="text" class="form-control " id="author" placeholder="author name" th:field="*{author}" >
								</div>
								<div class="form-group ">
									<label class="sr-only" for="year">affiliation</label>
									<input type="text" class="form-control " id="year" placeholder="affiliation" th:field="*{affName}" >
								</div>
						
							</div>
						
							<button id="btn_search" class="btn btn-success" type="submit">
											<span class="glyphicon glyphicon-search "></span>
										</button>
							<button id="btn_advanced" class="btn btn-success  ">
											<span class="glyphicon glyphicon-edit "></span>
										</button>
						</form>						
						
						
						
						<!--这是右边菜单-->
						<div class="col-md-3 col-sm-12" >
							<nav id="bs-navbar" class="collapse navbar-right navbar-collapse">
								<ul class="nav navbar-nav navbar-right">
									<li>
										<a href="#" target="_blank">API</a>
									</li>
									<li>
										<a href="#" target="_blank">博客</a>
									</li>
									<li>
										<a href="#">关于</a>
									</li>
								</ul>
							</nav>
							
						</div>
						
			</nav>
		</header>
		
		
	
		
		<!-- main container .-->
		<div class="container-fluid">
			<div class="row">
				
				<!--左边的筛选条件-->
				<div id="div_left_container" class="col-md-2 col-sm-12" style=" margin-top: 80px; ">
					<div class="div-left-condition">
						<div>
							<h4>Filter Conditations &nbsp;</h4><img style="width: 32px; height: 32px;" src="img/filterconditions.png" />
						</div>
						<HR align="left" width="100%" SIZE=7 color="#8C8C8C">
						<div class="div-left-date-range">
							<h4>Date Range </h4><br />
							
							<select id="select_start">
                         		<option th:each="entry : ${acjaShow.years}"
                                 	th:text="${entry}">1995</option>
							</select>

							&nbsp;to &nbsp;&nbsp;
							<select id="select_end">
                         		<option th:each="entry : ${acjaShow.years}" th:text="${entry}"> 2016</option>
							</select>
				
						</div>
						<HR align="left" width="100%" SIZE=7 color="#8C8C8C">
						
						<div class="div-left-rank-type">
							<h4>Ranking Type</h4><br />
							<ul class="ul-style-type" id="ul_rank_type">
								<li>
									<a th:style="'color:' + @{ (${para.rt.name()=='DEFAULT_RANK'} ? '#337AB7' : '#222222')} +'; font-size:large;'" th:href="@{athpage(page=${para.page}, authorID=${para.authorID}, rt='DEFAULT_RANK')}" >
										<span>default ranking</span>
									</a>
								</li>
								<li>
									<a th:style="'color:' + @{ (${para.rt.name()=='RELEVANCE_RANK'} ? '#337AB7' : '#222222')}+'; font-size:large;'"  th:href="@{athpage(page=${para.page}, authorID=${para.authorID}, rt='RELEVANCE_RANK')}"><span>relevance ranking</span></a>
								</li>
								<li>
									<a th:style="'color:' + @{ (${para.rt.name()=='MOST_CITATION'} ? '#337AB7' : '#222222')}+'; font-size:large;'"  th:href="@{athpage(page=${para.page}, authorID=${para.authorID}, rt='MOST_CITATION')}" ><span>most citations</span></a>
								</li>
							
								<li>
									<a th:style="'color:' + @{ (${para.rt.name()=='LATEST_YEAR'} ? '#337AB7' : '#222222')}+'; font-size:large;'"  th:href="@{athpage(page=${para.page}, authorID=${para.authorID}, rt='LATEST_YEAR')}" ><span>time ranking</span></a>
								</li>
							</ul>
												
						</div>
						<HR align="left" width="100%" SIZE=7 color="#8C8C8C">
					</div>
				</div>

				<!--中间展示数据-->
 				<div class="col-md-7 col-sm-12" style="margin-top: 50px;">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="|search  ${acjaShow.allPaperNum}  relevant papers|"> search xxx relevant papers</span>
						</div>
				
						<div id="paper_entity" style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">
							
								<th:block th:each="item:${paperList}">
									
										<div class="div-paper-item">
		
		
		
		
											<a class="div-paper-item-title" th:href="@{/paper(paid=${item.paID},type=info)}" th:utext="${item.title}"> this is paper title this is paper title  Mastering data mining: The art and science of customer relationship management </a>
											<br />
											
											<span  th:text="${#strings.toUpperCase(item.venue)} +'('+ ${item.year} + ')'">Venue(2014)</span>
		
											<br />
		
											<ul class="ul-paper-item-aths">
												<th:block th:each="name, nameStat: ${item.authors}">
													<li>
														<a th:utext="${item.authors[nameStat.index]}" th:href="@{/author(athid=${item.authorsID[nameStat.index]})}">author1</a>,&nbsp;
													</li>
													
											
												</th:block>
											</ul>
												
											
											<hr  class="hr-paper-split"/>
											
											<div  > 
												<ul class="ul-paper-item-actions">
													<li class="li-actions-cite">
														<img src="img/cite.png"/>
														<a th:text="|cited by ${item.citations}|" >cited by 111 </a>		
													</li>
													
													<li>
														<span class="glyphicon glyphicon-globe"></span> 
														<a th:text="${item.doi}" >doi </a>
													</li>
													<li>
														<img  src="img/bib.png"/> 
														<a  > bibtex  </a>	
													</li>													
													<li>
														<img src="img/version.png" />
														<a th:text="|All ${item.versions} Versions|" >all .. versions</a>
													</li>
													
												</ul>
												
											</div>	
												
										</div>
										
										
										
								</th:block>
				
						</div>
				
					</div>
				</div>
				
				
				<!--右边的一些ranking-->
				<div id="div_right_container" class="col-md-3 "style="background-color:; margin-top: 80px; " >
					
					<!--some Authors-->
					<div id="div_right_author" class="col-sm-12 col-md-12"> 
						<img class="img_right_icon" src="img/ath-ac.png"/> <h4>Prestige Author</h4>
						<ul id="ul_ath" class="ul-style-type">
							<th:block th:each="name, nameStat: ${acjaShow.athName}">
								<li>
									<a><span class='glyphicon glyphicon-hand-right'></span>&nbsp; </a> <a th:text="${acjaShow.athName[nameStat.index]}" th:href="@{/author(athid=${acjaShow.athID[nameStat.index]})}">author1</a>
								</li>
							</th:block>
							
						</ul>
						<a  onclick="showMore('ath')"><span >More Authors </span><span id="span_icon_ath" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
					</div>
					
					<HR align="left" width="80%" SIZE=7 color="#8C8C8C">
					
					<!--Affiliations-->
					<div id="div_right_aff" class="col-sm-12 col-md-12">
						<img class="img_right_icon" src="img/venue-ac.png"/> <h4>Influential Affiliation</h4>
						<ul id="ul_aff" class="ul-style-type">
							<th:block th:each="name, nameStat: ${acjaShow.affName}">
								<li>
									<a><span class='glyphicon glyphicon-hand-right'></span>&nbsp; </a> <a th:text="${acjaShow.affName[nameStat.index]}" th:href="@{/aff(affid=${acjaShow.affID[nameStat.index]})}">aff1</a>
								</li>
							</th:block>
						</ul>
						
						<a onclick="showMore('aff')"><span >More Affilations </span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
						
					</div>
					
					<HR align="left" width="80%" SIZE=7 color="#8C8C8C">
					
					<!--some Journal -->
					<div id="div_right_jou" class="col-sm-12 col-md-12">
						<img class="img_right_icon" src="img/jou-ac.png"/> <h4>Famous Journals</h4>
						<ul id="ul_jou" class="ul-style-type">
							<th:block th:each="name, nameStat: ${acjaShow.jouName}">
								<li>
									<a><span class='glyphicon glyphicon-hand-right'></span>&nbsp; </a> <a th:text="${acjaShow.jouName[nameStat.index]}" th:href="@{/jou(jouid=${acjaShow.jouID[nameStat.index]})}">aff1</a>
								</li>
							</th:block>
								
						</ul>
						<a onclick="showMore('jou')"><span >More Journals </span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
							
							
					</div>
					
					<HR align="left" width="80%" SIZE=7 color="#8C8C8C">
					
					<!--some conference -->
					<div id="div_right_con" class="col-sm-12 col-md-12"> 
						<img class="img_right_icon" src="img/conf-ac.png"/> <h4>Famous Conferences</h4>
						<ul id="ul_con" class="ul-style-type">
							<th:block th:each="name, nameStat: ${acjaShow.conName}">
								<li>
									<a><span class='glyphicon glyphicon-hand-right'></span>&nbsp; </a> <a th:text="${acjaShow.conName[nameStat.index]}" th:href="@{/con(conid=${acjaShow.conID[nameStat.index]})}">aff1</a>
								</li>
							</th:block>
								
						</ul>
						<a onclick="showMore('con')"><span >More Conferences </span><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
						
					</div>
					
					
				</div>
				

			</div>
		
		</div>
				


	<!--search(keywords=${searchPara.keywords},author=${searchPara.author}, ${year=searchPara.year},-->
	<div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div th:if="${paper.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${paper.number == 0} ? disabled">
                	<a class="pageLink" th:href="@{athpage(page=1, authorID=${para.authorID}, rt=${para.rt})}">&laquo;</a>
				</li>
                <li th:class="${paper.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{athpage(page=${paper.number}, authorID=${para.authorID}, rt=${para.rt} )}">&larr;</a>
                </li>
                <li th:class="${paper.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink" th:href="@{athpage(page=${page}, authorID=${para.authorID}, rt=${para.rt})}" th:text="${page}"></a>
                </li>
                <li th:class="${paper.number + 1 == paper.totalPages} ? disabled">
                    <a class="pageLink"th:href="@{athpage(page=${paper.number + 2}, authorID=${para.authorID}, rt=${para.rt})}">&rarr;</a>
                </li>
                <li th:class="${paper.number + 1 == paper.totalPages} ? disabled">
                    <a class="pageLink" th:href="@{athpage(page=${paper.totalPages}, authorID=${para.authorID}, rt=${para.rt} )}">&raquo;</a>
                </li>
                
                
            </ul>
        </div>
      </div>
    </div>

		
		
		<footer class="page-footer font-small blue pt-4 mt-4">
			<!--Footer Links-->
			<div id="div_footer_1" class="container-fluid text-center text-md-left">
				<div class="row">
		
					<div class="footer-about col-md-4 col-sm-4">
						<a href="#">About Us</a>
					</div>
					<div class="footer-links col-md-4  col-sm-4">
						<a href="#">Links</a>
					</div>
		
					<div class="footer-sug col-md-4 col-sm-4">
						<a href="#">Suggestion</a>
					</div>
					
				</div>
		
			</div>
			</div>
			<!--/.Footer Links-->
		
			<!--Copyright-->
			<div id="div_footer_2" class="footer-copyright py-3 text-center">
				© 2018 Copyright:
				<a href="http://www.buaa.edu.cn/"> Beihang University </a>
			</div>
		
		</footer>

		
	
		<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
		<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
		<script src="js/mricode.pagination.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!--<script src="js/main_search.js"></script>-->
		<script src="js/mainSearch.js"></script>
  
	</body>
</html>
 