<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link href="css/mricode.pagination.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/header.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>

		<title></title>
	</head>
	<body>



		
		<header class="site-header">
			<nav class="navbar" id="top">
						
						<!--这是导航图标-->
						<div class="col-md-3 col-sm-12 header-nav-icon">
							<div class="navbar-header">
								<span th:text="${searchPara.author}"></span>
							</div>
						</div>
						
							<!-- 搜索表单部分-->
						<form class="form-inline col-md-6 col-sm-12 header-search" action="#" th:action="@{/search}" th:object="${searchPara}" method="get">
							<input type="hidden" class="form-control" value="DEFAULT_RANK" name="rt">
							<input type="hidden" class="form-control" value="1" name="page">
							
							
							<div id="input_single" class="form-group col-md-10 col-sm-12" style="display: inline">
								<label class="sr-only" for="keywords">keywords</label>
								<input class="form-control" id="search_input" type="text" style="width: 92%;" value="graph database" placeholder="graph database"  th:field="*{keywords}">
							</div>
						
							<div id="input_multi" class="form-group col-md-10 col-sm-12" style="display: none;">
								<div class="form-group">
									<label class="sr-only" for="title">title</label>
									<input  class="form-control " id="title" placeholder="keywords" name="" >
								</div>
								<div class="form-group">
									<label class="sr-only" for="authorname">authorname</label>
									<input type="text" class="form-control " id="author" placeholder="author name" th:field="*{author}" >
								</div>
								<div class="form-group ">
									<label class="sr-only" for="year">affiliation</label>
									<input type="text" class="form-control " id="year" placeholder="affiliation" th:field="*{affName}" >
								</div>
						
							</div>
							
							<button id="btn_search" class="btn btn-success" type="submit">
											<span class="glyphicon glyphicon-search "></span>
										</button>
							<button id="btn_advanced" class="btn btn-success  ">
											<span class="glyphicon glyphicon-edit "></span>
										</button>
						</form>						
						
						
						
						<!--这是右边菜单-->
						<div class="col-md-3 col-sm-12" >
							<nav id="bs-navbar" class="collapse navbar-right navbar-collapse">
								<ul class="nav navbar-nav navbar-right">
									<li>
										<a href="#" target="_blank">API</a>
									</li>
									<li>
										<a href="#" target="_blank">博客</a>
									</li>
									<li>
										<a href="#">关于</a>
									</li>
								</ul>
							</nav>
							
						</div>
						
			</nav>
		</header>
		
		
	
		
		<!-- main container .-->
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-2 col-sm-12" >
					
				</div>
			
				<!--中间展示数据-->
 				<div class="col-md-7 col-sm-12" style="margin-top: 50px; height: 1000px;">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="|authors you want to find:  ${searchPara.author}|">authors you want to find </span>
						</div>
						
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="col-md-3">AuthorName</th>
									<th class="col-md-5">Affiliation</th>
									<th class="col-md-3">Paper Number</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="hit : ${authors}">
									<tr>
										<td >
											<a th:text="${hit.athName}" th:href="@{/author(athid=${hit.athID})}">
												author name
											</a>
										</td>
										<td >
											<a th:text="${hit.affName}" th:href="@{/aff(affID=${hit.affID}, rt='DEFAULT_RANK', page='1')}">
												affiliation name
											</a>
										</td>
										
										<td th:text="${hit.paNumber}">paperNumbers</td>
										
									</tr>
								</th:block>
								
							</tbody>
						</table>
						
						
					</div>
				</div>
			</div>
		</div>
				

		
		
		
		<footer class="page-footer font-small blue pt-4 mt-4">
			<!--Footer Links-->
			<div id="div_footer_1" class="container-fluid text-center text-md-left">
				<div class="row">
		
					<div class="footer-about col-md-4 col-sm-4">
						<a href="#">About Us</a>
					</div>
					<div class="footer-links col-md-4  col-sm-4">
						<a href="#">Links</a>
					</div>
		
					<div class="footer-sug col-md-4 col-sm-4">
						<a href="#">Suggestion</a>
					</div>
					
				</div>
		
			</div>
			</div>
			<!--/.Footer Links-->
		
			<!--Copyright-->
			<div id="div_footer_2" class="footer-copyright py-3 text-center">
				© 2018 Copyright:
				<a href="http://www.buaa.edu.cn/"> Beihang University </a>
			</div>
		
		</footer>

		
	
		<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
		<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!--<script src="js/main_search.js"></script>-->
  
	</body>
</html>
 